<html>  
<head>  
    <title>login</title>  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>  
<body>  
    <div style ="margin-top: 50px" class="ui container">
    
        <h1  class="ui center aligned header">User Login</h1>
        <center>
    <form method = "post"  action = "http://localhost:5000/success">  
        <table>  
            <tr><td>Email</td><td><input type = 'username' name = 'username'></td></tr>  
            <tr><td>Password</td><td><input type = 'password' name = 'password'></td></tr>  
            <tr><td><input class="ui blue button" type = "submit" value = "Login"></td></tr>  
        </table>  
    </form>  
</center>
    </div>
</body>  
</html>  